torch
conda
pip
numpy
sympy
scikit-learn
numba
opt_einsum
h5py
cytoolz
torchvision
torchaudio
setuptools
tensorboard
matplotlib
tensorboardx
jupyterlab
seaborn
rich
torchdata
comet_ml
vector
onnxruntime
argparse
awkward
uproot
pandas
mplhep
openTSNE
torch_optimizer